eUSE [master]
GO
/****** Object:  Database [QUANLYSANPHAM]    Script Date: 03/10/2023 8:06:31 PM ******/
CREATE DATABASE [QUANLYSANPHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'D:\QUANLYSANPHAM1.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'D:\QUANLYSANPHAM1.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYSANPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYSANPHAM]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASP] [char](5) NOT NULL,
	[SODDH] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[SODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODDH] [char](10) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[NGAYDAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DC] [nvarchar](100) NULL,
	[DT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LAM]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LAM](
	[MASP] [char](5) NOT NULL,
	[MANL] [char](5) NOT NULL,
	[SOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [char](5) NOT NULL,
	[TENNL] [nvarchar](50) NULL,
	[DVT] [char](5) NULL,
	[GIA] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 03/10/2023 8:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](5) NOT NULL,
	[MALOAI] [char](5) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](100) NULL,
	[GIA] [bigint] NULL,
	[SLTON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTDDH] ([MASP], [SODDH], [SOLUONG]) VALUES (N'SP01 ', N'DH001     ', 5)
INSERT [dbo].[CTDDH] ([MASP], [SODDH], [SOLUONG]) VALUES (N'SP01 ', N'DH003     ', 2)
INSERT [dbo].[CTDDH] ([MASP], [SODDH], [SOLUONG]) VALUES (N'SP02 ', N'DH002     ', 2)
INSERT [dbo].[DONDH] ([SODDH], [MAKH], [NGAYDAT]) VALUES (N'DH001     ', N'KH001     ', CAST(N'2010-03-15 00:00:00.000' AS DateTime))
INSERT [dbo].[DONDH] ([SODDH], [MAKH], [NGAYDAT]) VALUES (N'DH002     ', N'KH016     ', CAST(N'2010-03-15 00:00:00.000' AS DateTime))
INSERT [dbo].[DONDH] ([SODDH], [MAKH], [NGAYDAT]) VALUES (N'DH003     ', N'KH003     ', CAST(N'2010-03-16 00:00:00.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DC], [DT]) VALUES (N'KH001     ', N'Trần Hải Cường', N'731 Trần Hưng Đạo, Q.1, TP.HCM', N'08-9776655  ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DC], [DT]) VALUES (N'KH002     ', N'Nguyễn Thị Bé', N'638 Nguyễn Văn Cừ, Q.5, TP.HCM', N'0913-666123 ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DC], [DT]) VALUES (N'KH003     ', N'Trần Thị Minh Hòa', N'543 Mai Thị Lựu, Ba Đình, Hà Nội', N'04-9238777  ')
INSERT [dbo].[LAM] ([MASP], [MANL], [SOLUONG]) VALUES (N'SP01 ', N'NL01 ', 1.2)
INSERT [dbo].[LAM] ([MASP], [MANL], [SOLUONG]) VALUES (N'SP01 ', N'NL03 ', 0.3)
INSERT [dbo].[LAM] ([MASP], [MANL], [SOLUONG]) VALUES (N'SP01 ', N'NL06 ', 2.5)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L01  ', N'Tủ')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L02  ', N'Bàn')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L03  ', N'Giường')
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [DVT], [GIA]) VALUES (N'NL01 ', N'Gỗ Lim XP', N'm3   ', 1200000)
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [DVT], [GIA]) VALUES (N'NL02 ', N'Gỗ Sao NT', N'm3   ', 1000000)
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [DVT], [GIA]) VALUES (N'NL03 ', N'Gỗ tạp nham', N'm3   ', 500000)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [MOTA], [GIA], [SLTON]) VALUES (N'SP01 ', N'L01  ', N'Tủ trang điểm', N'Cao 1.4m, rộng 2.2m', 1000000, 3)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [MOTA], [GIA], [SLTON]) VALUES (N'SP02 ', N'L03  ', N'Giường đơn Cali', N'Rộng 1.4m', 1500000, 2)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [MOTA], [GIA], [SLTON]) VALUES (N'SP03 ', N'L01  ', N'Tủ DDA', N'Cao 1.6m, rộng 2.0m, cửa kiếng', 800000, 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DONDH__B1A4CE09EE16D2D9]    Script Date: 03/10/2023 8:06:31 PM ******/
ALTER TABLE [dbo].[DONDH] ADD UNIQUE NONCLUSTERED 
(
	[SODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SANPHAM__60228A33621B7158]    Script Date: 03/10/2023 8:06:31 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD UNIQUE NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD FOREIGN KEY([SODDH])
REFERENCES [dbo].[DONDH] ([SODDH])
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[LAM]  WITH CHECK ADD FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[LAM]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
USE [master]
GO

--b)Tạo Function tên F1 có 2 tham số vào là: tên sản phẩm, quý. 
--Function cho biết: Tổng số lượng đặt của sản phẩm này trong quý đó của năm 2019. 
--(Chú ý: Nếu tên sản phẩm này không tồn tại thì phải trả về 0) 

alter FUNCTION F1(@TENSP NVARCHAR(50),@QUY TINYINT)
RETURNS INT
AS
	BEGIN
		DECLARE @TONGSLX INT
		IF NOT EXISTS (SELECT TENSP FROM SANPHAM WHERE TENSP=@TENSP)
			SET @TONGSLX =0
		ELSE
			SET @TONGSLX=(SELECT SUM(SOLUONG) 
			              FROM SANPHAM A,CTDDH B,DONDH C
						  WHERE A.MASP=B.MASP AND B.SODDH=C.SODDH
						    AND TENSP=@TENSP 
							AND DATEPART(Q,NGAYDAT)=@QUY
						 )

	RETURN @TONGSLX
	END
print dbo.f1(N'Giường',1)

----C)c)	Tạo Procedure tên là P1 cho có 2 tham số sau: 
--•	1 tham số nhận vào là: tên sản phẩm.
--•	1 tham số trả về cho biết: tổng số lượng đặt của tên sản phẩm này trong năm 2019 (Không viết lại truy vấn, hãy sử dụng Function trên để thực hiện) 
alter proc cauc (@tensp nvarchar(20), @tslsp tinyint output)
as 
begin 
select @tslsp=dbo.F1(@tensp,2010)
END
declare @tslsp int
exec cauc N'Tủ', @tslsp output
print @tslsp

--d)	Tạo Function tên F2 tham số
--là tháng, trả về danh sách khách hàng đặt hàng trong tháng đó. 
--Nếu tháng không có trong đơn đặt hàng thí trả về danh sách khách hàng của tất cả các tháng của năm 2019.
alter function f2(@month int )
returns table 
as 
return 
(
select *
from DONDATHANG
where MONTH(NgayDatHang)= @month or (@month not in (select MONTH(NgayDatHang) from DONDH where YEAR(NgayDatHang)=2010))
)
select * from dbo.f2('03')

